body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling cards
*/
.card {
    margin: 8px;
    max-width: 280px;
    min-width: 280px;
    height: 300px;
    box-shadow: 2px 2px 5px lightgray;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.card-buttons .btn {
    text-decoration: none;   

}

.card-button-group {
    display: flex;
    gap: 8px;
    /* Adjust the space between buttons as needed */
}
.card-button-group button {
    text-decoration: none; /* Remove underline from buttons */
}

.card-button-group button:focus {
    outline: none; /* Remove outline on focus if not needed */
}


.card-body:hover .underline-target-text {
    text-decoration: underline;
    font-weight: bold;
}

.card:hover {
    box-shadow: 5px 5px 5px lightgray;
}

.card-img-top {
    max-height: 150px;
    min-height: 150px;
    object-fit: cover;
    /* xxx could maybe change to contain but need to fix pics */
}

.card-title {
    text-decoration: none;
    color: navy;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0px;
    line-height: 1.3;
    font-size: 0.875rem;
}

.card-code {
    color: rgb(103, 113, 121);
    line-height: 1.3;
    padding: 0;
    margin-top: 4px;
    font-size: 1rem;
}

.card-details {
    color: rgb(103, 113, 121);
    line-height: 1.3;
    font-size: 12px;
    height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-custom {
    width: 320px;
}

/* Exact font copied from Canvas */
.css-pljkwv-view-heading {
    line-height: 1.25;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.375rem;
    font-weight: 700;
    color: inherit;
}


/* Course Navigation
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Course Navigation
  */
.course-nav-sidebar {
    background-color: white;
    flex: 0 0 185px;
    height: 100%;
    width: 185px;
    height: 100vh;
    top: 0;
    left: 0;
    padding-left: 0px;
}

@media (max-width: 768px) {
    .course-nav-sidebar {
        display: none;
    }
}

/* Above Main Content 
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Above Main Content 
  */
.above-main-content {
    background-color: white;
    display: flex;
    height: 60px;
}

.above-main-content i {
    color: rgb(180, 40, 40);
    padding-right: 20px;
}

.above-main-content a {
    color: rgb(180, 40, 40);
    text-decoration: none;
}

.above-main-content p {
    color: gray;
}

/* Above Main Content Small Screen
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Above Main Content Small Screen
  
.above-main-content-small-screen {
    background-color: black;
    color: white;
    display: flex;
    height: 60px;
}

.above-main-content-small-screen a {
    color: white;
    text-decoration: none;
}

.above-main-content-small-screen a:hover {
    text-decoration: underline;
}

.above-main-content-small-screen i {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}
*/

/* Right Sidebar
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Right Sidebar
  */
.course-right-sidebar {
    background-color: white;
    flex: 0 0 auto;
    height: 100%;
    width: 288px;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 10px
}

@media (max-width: 992px) {
    .course-right-sidebar {
        display: none;
    }
}

/* Buttons
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Buttons

.button-sidebar-wide {
    background-color: rgb(245, 245, 245);
    border-color: rgb(199, 205, 205);
    color: rgb(45, 55, 69);
    margin-top: 3px;
    text-decoration: none;
     Remove underlining 
    transition: background-color 0.3s;
     Add smooth transition effect 
    width: 100%;
    text-align: left;
    outline: red
}

.button-sidebar-wide:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(45, 55, 69);
     Change color on hover 
}

.button-sidebar-wide:focus {
    border-color: rgb(180, 40, 40);
    background-color: pink;
     Change border color on click 
}

.button-topbar-medium {
    background-color: rgb(245, 245, 245);
    border-color: rgb(199, 205, 205);
    color: rgb(45, 55, 69);
    margin-top: 3px;
    text-decoration: none;
     Remove underlining 
    transition: background-color 0.3s;
     Add smooth transition effect 
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 13px;
    padding-right: 13px;
}

.button-topbar-medium a {
    text-decoration: none;
    color: black;
}

.button-topbar-medium i {
    color: rgb(45, 59, 69);
    margin-left: 0px;
    margin-right: 5px;
}

.button-topbar-medium:hover {
    border-color: rgb(199, 205, 205);
    color: rgb(45, 55, 69);
     Change color on hover 
}

.button-topbar-medium:active {
    border-color: rgb(180, 40, 40);
    color: pink;
     Change border color on click 
}

.red-button {
    color: white;
    background-color: rgb(195, 50, 52);
    border-color: rgb(166, 42, 45);
}

.red-button i {
    color: white;
    margin-right: 5px;
}

.green-button {
    color: white;
    background-color: rgb(158, 193, 153);
    border-color: rgb(134, 172, 134);
}

.mini-button {
    padding-left: 8px;
    padding-right: 8px;
}

.mini-button i {
    margin-left: 0px;
    margin-right: 0px;
}
*/

/* wd-List
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ wd-List
  */
.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules>li {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(222, 225, 227) !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid rgb(222, 225, 227) !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid rgb(222, 225, 227) !important;
    border-left: 2px solid rgb(60, 133, 81);
}

.wd-modules>li>ul>li:hover {
    background-color: rgb(238, 247, 255);
}

.wd-modules>li {
    margin-bottom: 20px;
}

.wd-modules i {
    color: rgb(60, 133, 81);
    margin-left: 10px;
    margin-right: 10px;
}

.wd-modules .assignment-info {
    margin-left: 15px;
}

.wd-modules .assignment-info .header {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}

.wd-modules .assignment-info .header a {
    text-decoration: none;
    color: black;
}

.wd-modules .assignment-info .header a:hover {
    text-decoration: underline;
    color: black;
}


.wd-modules .assignment-info .details {
    font-size: 0.7em;
}

.wd-modules .assignment-round-button {
    color: black;
    border-color: black;
    border-radius: 12px;
    padding: 2px;
}