/*you can make a style sheet in the top of your document*/

p {
    background-color: black;
    color: white
}

p#p1 {
    background-color: black;
    color: white
}

h2 {
    color: pink;
}

.wd-yellow-on-blue {
    background-color: yellow;
    color:blue
}