/* Styling the assignments list */

.row {
    border: none;
}

.col {
    border: none;
}

.kanbas-modules-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}


.kanbas-modules h1 {
    background-color: red;
}

.mini-col {
    margin: 0px;
    padding: 0px;
    width: 135px;
}

.modules-icon {
    margin: 6px;
    color: dark-grey;
    font-size: 1.25rem;
}

.icon-green {
    color: darkgreen;
}

.icon-green:hover {
    color: rgb(4, 156, 4);
}

.icon-red {
    color: rgb(195, 50, 52);
}

.delete-button {
    background-color: white;
    border: none;
    padding: none;
    margin: none;
}

.delete-button:hover {
    color: rgb(129, 35, 36);
}

.width-90px {
    width: 60px;
}

.list-group-item {
    padding-left: 0px;
    padding-right:0px;
    padding-top: 13px;
    padding-bottom: 13px;
    
}

.list-group-item .list-group-item  {
    border-left-color: green;
    border-left-width: 3px;
    border-radius: 0px;
}

.assignment-name a {
    color: rgb(50,50,50);
    text-decoration: none;
    font-size: 1.09rem;
    font-weight: bold;
}

.assignment-name a:hover {
    text-decoration: underline;
}

.byline {
    color: rgb(50,50,50);
}

.byline a {
    color: rgb(180, 40, 40);
}

.button-row {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border: 1px solid #0e0d0d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center-align items horizontally */
}

/* Media query for small screens */
@media (max-width: 768px) {
    .popup {
        height: 50%;
        width: 80%;
    }
}

.button-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.popup p {
    margin-bottom: 10px;
}

.popup-button {
    width: 120px;
    height: 40px;
    float: left;
}