/*
Formats ALL paragraphs this way.
*/
p {
    background-color: blue;
    color: white;
 }
 
/*
ID Selector

Formats ALL paragraphs WITH A SPECIFIC ID this way.
*/
p#id-selector-1 {
    background-color: beige;
    color:darkgreen
}

p#id-selector-2 {
    color:black;
    background-color:burlywood;
    font-style:italic;
}

/*
Class Selector

Formats ALL paragraphs WITH A SPECIFIED CLASS selected.
*/
.wd-class-selector {
    color:blueviolet;
    background-color:palegoldenrod;
    font-style:oblique;
}

/* Only apply if selector 4 has a direct ancesotr of selector 2.
*/
.wd-selector-2 > .wd-selector-4 {
    color:brown
}