body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Helvetica, Arial, sans-serif;

}

.col {
  border: dashed pink 3px;
}

.row {
  border: solid blue 1px;
}

/*
main content
*/

.main-content {
  margin: 0px;
  margin-top: 10px;
}

right-margin-5 {
  margin-right:5px;
}

/* Above Main Content 
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Above Main Content 
  */
.above-main-content {
  background-color: white;
  display: flex;
  height: 60px;
}

.above-main-content i {
  color: rgb(180, 40, 40);
  padding-right: 20px;
}

.above-main-content a {
  color: rgb(180, 40, 40);
  text-decoration: none;
}

.above-main-content p {
  color: gray;
}


/* Right Sidebar
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Right Sidebar
  */
.course-right-sidebar {
  background-color: white;
  flex: 0 0 auto;
  height: 100%;
  width: 288px;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 10px
}

@media (max-width: 992px) {
  .course-right-sidebar {
    display: none;
  }
}

/* Buttons
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Buttons
  */
.button-sidebar-wide {
  background-color: rgb(245, 245, 245);
  border-color: rgb(199, 205, 205);
  color: rgb(45, 55, 69);
  margin-top: 3px;
  text-decoration: none;
  /* Remove underlining */
  transition: background-color 0.3s;
  /* Add smooth transition effect */
  width: 100%;
  text-align: left;
  outline: red;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.button-sidebar-wide:hover {
  background-color: rgb(233, 233, 233);
  color: rgb(45, 55, 69);
  /* Change color on hover */
}

.button-sidebar-wide:focus {
  border-color: rgb(180, 40, 40);
  background-color: pink;
  /* Change border color on click */
}

.button-sidebar-wide .sidebar-icon {
  margin: 5px;
}

.button-topbar-medium {
  background-color: rgb(245, 245, 245);
  border-color: rgb(199, 205, 205);
  color: rgb(45, 55, 69);
  margin-top: 3px;
  text-decoration: none;
  /* Remove underlining */
  transition: background-color 0.3s;
  /* Add smooth transition effect */
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 13px;
  padding-right: 13px;
  white-space: nowrap;
  overflow: hidden;
}

.button-topbar-medium a {
  text-decoration: none;
  color: black;
}

.button-topbar-medium .icon {
  color: rgb(45, 59, 69);
  margin-left: 0px;
  margin-right: 5px;
}

.button-topbar-medium:hover {
  border-color: rgb(199, 205, 205);
  color: rgb(45, 55, 69);
  /* Change color on hover */
}

.button-topbar-medium:active {
  border-color: rgb(180, 40, 40);
  color: pink;
  /* Change border color on click */
}

.red-button {
  color: white;
  background-color: rgb(195, 50, 52);
  border-color: rgb(166, 42, 45);
}

.red-button .icon {
  color: white;
  margin-right: 5px;
}

.red-button:hover .icon {
  color: rgb(45, 55, 69);
  margin-right: 5px;
}

.red-button:hover {
  background-color: rgb(168, 42, 44);
  border-color: rgb(166, 42, 45);
}


.green-button {
  color: white;
  background-color: rgb(158, 193, 153);
  border-color: rgb(134, 172, 134);
}

.mini-button {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.red-search:focus {
  border-color: red;
  /* Set the border color to red when the input is in focus */
  outline: 0;
  /* Remove the default outline on focus */
  box-shadow: 0 0 0 0.23rem rgba(255, 0, 0, 0.25);
  /* Optional: Add a red box shadow on focus for better visibility */
}